.botao-excluir {
    margin:10px;
    cursor: pointer;
    opacity: 0;
}

.nome {
    margin-left: 5px;
    margin-bottom: 3px; 
    font-weight: 500;
}

.list-item{
    background-color: rgb(255,255,255);
    margin: 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 90%;
    border-left-style: solid;
    border-left-width: .3em;
}
.check-label{
    margin: 10px;
}

.list-item:hover .botao-excluir{
    opacity: 1;
    transition: .3s;
}